<md-input-container class="input-box">
  <input mdInput placeholder="normal">
</md-input-container>
<br>
<md-input-container class="input-box">
  <input mdInput placeholder="value" value="value">
</md-input-container>
<br>
<md-input-container class="input-box input-box-disabled">
  <input mdInput placeholder="disabled" disabled>
</md-input-container>
<br>
<md-input-container class="input-box" floatPlaceholder="never">
  <input mdInput placeholder="no float">
</md-input-container>
<br>
<md-input-container class="input-box">
  <input mdInput placeholder="hint text">
  <md-hint align="start">Hint text here</md-hint>
</md-input-container>
<br>
<md-input-container class="input-box">
  <input mdInput placeholder="error message on blur" ngModel required>
  <md-error>Error message text here</md-error>
</md-input-container>
<br>
<md-input-container class="input-box">
  <input mdInput placeholder="error message" ngModel required [errorStateMatcher]="alwaysTrue">
  <md-error>Error message text here</md-error>
</md-input-container>
<br>
<md-input-container>
  <input mdInput placeholder="no box">
</md-input-container>
