/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.input-box {
  border: 1px solid gray;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 16px;

  &.ng-invalid.ng-touched {
    margin-bottom: 16px + 26px;
  }

 .mat-input-wrapper {
    min-height: 48px;
    padding-bottom: 0;
  }
  .mat-input-flex {
    padding: 8px 16px 0;
    box-sizing: border-box;
  }
  .mat-input-infix {
    border-top: none;
  }

  .mat-input-element {
    color: #253746;
  }
  &:not([ng-reflect-float-placeholder="never"]) .mat-input-element {
    padding-top: 8px;
  }

  .mat-input-placeholder-wrapper {
    top: -0.9em;
  }
  &.mat-focused .mat-float {
    transform: translateY(-0.4em) scale(.75) perspective(100px) translateZ(.001px);
  }
  & .mat-input-placeholder.mat-float:not(.mat-empty) {
    transform: translateY(-0.4em) scale(.75) perspective(100px) translateZ(.001px);
  }

  .mat-input-underline {
    bottom: 0;
    z-index: 10;
  }

  .mat-input-subscript-wrapper {
    top: initial;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-top: -1px;
    border-radius: 0 0 2px 2px;
    line-height: 1;
  }
  &.ng-invalid.ng-touched .mat-input-subscript-wrapper {
    background-color: mistyrose;

    md-error:before {
      content: '';
      color: red;
      font-family: 'inmoment-icon';
    }
  }
}

.input-box-disabled {
  background-color: darkgray;
  color: gray;

  .mat-input-underline {
    display: none;
  }
}

.input-box-help-text {
  margin-bottom: 16px + 26px;

  .mat-input-subscript-wrapper {
    background-color: lightgray;
    color: gray;
  }
}
