/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.input-box {
  margin-bottom: 16px;

 .mat-input-wrapper {
    min-height: 48px;
    padding-bottom: 0;
  }
  .mat-input-flex {
    min-height: 48px;
    padding: 8px 16px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  .mat-input-infix {
    border-top: none;
  }

  .mat-input-element {
    color: #253746;
  }
  &:not([ng-reflect-float-placeholder="never"]) .mat-input-element {
    padding-top: 8px;
  }

  .mat-input-placeholder-wrapper {
    top: -0.9em;
  }
  &.mat-focused .mat-float {
    transform: translateY(-0.4em) scale(.75) perspective(100px) translateZ(.001px);
  }
  & .mat-input-placeholder.mat-float:not(.mat-empty) {
    transform: translateY(-0.4em) scale(.75) perspective(100px) translateZ(.001px);
  }

  .mat-input-underline {
    bottom: 1px;
    border-radius: 0 0 2px 2px;
    position: relative;
    z-index: 1;

    .mat-input-ripple {
      top: -1px;
      border-radius: 0 0 2px 2px;
    }
  }
  &.mat-input-invalid {
    .mat-input-underline {
      background-color: red;

      .mat-input-ripple {
        visibility: hidden;
        transform: scaleX(0.5);
      }
    }
  }
  &.mat-input-invalid.mat-focused {
    .mat-input-underline .mat-input-ripple {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  .mat-input-subscript-wrapper {
    position: static;
    margin-top: -2px;
    border-radius: 0 0 2px 2px;
    line-height: 1;

    md-error {
      padding: 8px 16px;
      box-sizing: border-box;
      background-color: mistyrose;

      &:before {
        content: '';
        color: red;
        font-family: 'inmoment-icon';
      }
    }

    .mat-input-hint-wrapper {
      background-color: lightgray;
      color: gray;
      line-height: 1;
      md-hint {
        padding: 8px 16px;
        box-sizing: border-box;
      }
    }
  }
}

.input-box-disabled {
  .mat-input-flex {
    background-color: darkgray;
    color: gray;
  }

  .mat-input-underline {
    display: none;
  }
}
